@use "../../mixins";

.nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	gap: 1rem;
	align-items: center;
	box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);

	.user {
		display: flex;
		gap: 0.5rem;
	}

	.button {
		@include mixins.button;
	}
}

.pageTitle {
	align-self: flex-end;
	flex-grow: 1;
	&:hover {
		text-decoration: underline;
	}
}
