$black: #000000;
$white: #ffffff;

$slate-0: #ffffff;
$slate-5: #ececed;
$slate-10: #e8e8ea;
$slate-20: #d2d2d5;
$slate-30: #bcbcc1;
$slate-40: #a6a7ad;
$slate-50: #919299;
$slate-60: #727378;
$slate-70: #555559;
$slate-80: #393a3c;
$slate-90: #202021;
$slate-100: #000000;
