@use "../../../colors";
@use "../../../mixins";

.main {
	margin-top: 4rem;
	padding: 0 3rem;
	display: flex;
	flex-direction: column;

	.postHeader {
		margin-bottom: 2rem;
		display: flex;
		justify-content: space-between;

		.options button {
			@include mixins.button;
			padding: 0.25rem;
			margin-right: 0.5rem;
			font-size: 0.75rem;
			border-radius: 4px;
		}
	}

	.breadcrumbs {
		color: colors.$slate-60;
		&:hover {
			text-decoration: underline;
		}
	}
	section {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 5rem;

		h2 {
			flex-grow: 1;
		}

		p {
			color: colors.$slate-60;
			font-size: 0.75rem;
		}
	}
}

.button {
	@include mixins.button;
	align-self: self-end;
}
